*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background: rgb(78,152,242);
  background: linear-gradient(180deg, rgba(78,152,242,1) 0%, rgba(0,0,0,1) 97%);
  color: #fff;
}

.logo{
  width: 100%;
  height: 300px;
  transition: 1s;

  animation: logo-move 4s ease-in infinite;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes logo-move {
  0%{
    transform: rotate(365deg);
  }
  50%{
    transform: rotate(180deg);
  }
  70%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(365deg);
  }
}

button{
  box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 60px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
button:active {
	position:relative;
	top:1px;
}