*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background: rgb(78,152,242);
  background: linear-gradient(180deg, rgba(78,152,242,1) 0%, rgba(0,0,0,1) 97%);
  color: #fff;
}